<%- include("cabecera.ejs") %>
  <%if(message.send){%>
      <h1 id="saveTitle" class="creado"><%=message.value%></h1>
  <% }else{ %>
      <h1 id="saveTitle" class="titleSave">Crea tu blog</h1>
  <% } %>
  <form action="/guardar" method="post" class="formGuardarCrear">
      <div id="guardar_guardar"> 
        <div class="positionGuardar">
          <input type="text" required name="autor" placeholder="Autor Name">
        </div>
        <div class="positionGuardar">
          <input type="text" required name="categoria" placeholder="Blog category">
        </div>
        <div class="positionGuardar">
          <input type="text" required name="titulo" placeholder="Blog title">
        </div>
        <div class="positionGuardar">
          <input type="text" required name="url_imagen" placeholder="URL image">
        </div>
        <div class="positionGuardar">
          <textarea required name="descripcion" placeholder="Blog description"></textarea>
        </div>
        <div class="positionGuardar">
          <button type="submit">Crear</button>
        </div>
      </div>
  </form>

  <script>
    setTimeout(e=>{
      document.querySelector("#saveTitle").innerHTML = "Crea tu blog";
      document.querySelector("#saveTitle").setAttribute("class","titleSave");
    },1500);
  </script>
</body>
</html>