<%- include("cabecera.ejs") %>
<div class="container">
    <div class="text-center mt-5">
<form id="formCrear">
    <h1>Subir Blog</h1>
    <div class="form-outline mb-4">
      <input type="text" id="formTitulo" class="form-control" placeholder="Ingrese título" name="titulo"/>
      <label class="form-label" for="form5Example1">T&iacutetulo</label>
    </div>
    
    <div class="form-outline mb-4">
      <input type="email" id="urlImage" class="form-control" placeholder="Ingrese url de nueva imagen" name="url_imagen"/>
      <label class="form-label" for="form5Example2">Nueva imagen</label>
    </div>

    <div class="form-outline mb-4">
        <textarea type="email" id="descripcion_D" class="form-control" placeholder="Ingrese descripción de blog" name="descripcion"></textarea>
        <label class="form-label" for="form5Example2">Descripci&oacuten</label>
      </div>
  
    <button type="submit" class="btn btn-primary btn-block mb-4" name="nuevoBlog" id="crearBlog">Subir entrada</button>
  </form>
</div>
</div>

  <script>
    $(document).ready(function(){
      $('#crearBlog').click(function(e){
        e.preventDefault();
        if($("#formTitulo").val().trim() == "" || $("#urlImage").val().trim() == "" || $("#descripcion_D").val().trim() == ""){
          alert("Debes llenar todos los campos");
        }else{
          $.ajax({
            url:'/guardar',
            type: 'POST',
            data: $('#formCrear').serialize(),
            success: function(respuesta){
              alert(respuesta);
              $("#formCrear").trigger("reset");
            }
          });
        }
      })
    });
  </script>
</body>
</html>