<%- include("cabecera.ejs") %>
    <form id="editarF" style="margin-left: 300px;">
        <input type="text" placeholder="Titulo">
        <br>
        <input type="text" placeholder="Pegue su URL">
        <br>
        <textarea name="contenido" id="contenido" cols="40" rows="15"></textarea>
        <br>
        <button>Guardar</button>
    </form>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <%- include("piePagina.ejs") %>

        